

<div id="global-loader">
<div class="loader-img">
<img src="assets/img/loader.png" class="img-fluid" alt="Global">
</div>
</div>

<div class="main-wrapper error-page">

<div class="content ellipses">
<div class="container">
<header class="text-center mt-0">
<a href="index.html">
<img src="assets/img/logo-black.svg" class="img-fluid" alt="Logo">
</a>
</header>
<div class="errors-img">
<img src="assets/img/404.png" class="img-fluid" alt="Venue">
</div>
<div class="row">
<div class="col-sm-12 col-md-6 col-lg-5 mx-auto text-center">
<h3>This site is currently <br> under maintenance</h3>
<p>We apologize for the inconvenience caused We’ve almost done.</p>
<a [routerLink]="['/home']" class="btn btn-primary d-inline-flex align-items-center">Go to Home<i class="feather-arrow-right-circle ms-2"></i></a>
</div>
</div>
</div>
</div>

</div>

