<app-sidemenu></app-sidemenu>

<div class="page-content-wrapper">
    <div class="dashboard-section coach-dash-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dashboard-menu coaurt-menu-dash">
                        <ul>            
                            <li><a>
                                <img src="assets/img/icons/booking-icon.svg" alt="Icon">
                                <span>Available Offer</span></a>
                            </li>
                            <li><a href="user-chat.html">
                                <img src="assets/img/icons/chat-icon.svg" alt="Icon">
                                <span>Number ofrequests</span> </a>
                            </li>
                            <li><a><img src="assets/img/icons/invoice-icon.svg" alt="Icon">
                                <span [(ngModel)]="tmmValue" >Tmm+ : {{tmmValue}}</span></a>
                            </li>
                            <li><a><img src="assets/img/icons/invoice-icon.svg" alt="Icon">
                                <span [(ngModel)]="tmmValue" >Tmm+ : {{tmmValue}}</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">                
            <div class="row">
                <div class="col-lg-12">
                    <div class="card dashboard-card statistics-card">
                        <div class="card-header">
                            <h4>Statistics</h4>                     </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 d-flex">
                                <div class="statistics-grid flex-fill">
                                    <div class="statistics-content">
                                        <h3>78</h3>
                                        <p>Available offers</p>
                                    </div>
                                    <div class="statistics-icon">
                                        <img src="assets/img/icons/statistics-01.svg" alt="Icon">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 d-flex">
                                <div class="statistics-grid flex-fill">
                                    <div class="statistics-content">
                                        <h3>45</h3>
                                        <p>number of request for the day</p>
                                    </div>
                                    <div class="statistics-icon">
                                        <img src="assets/img/icons/statistics-02.svg" alt="Icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
        
    